ul.menu {
    list-style-type: none;
    margin: 0;
    padding-top: 16px;
}
.menu-section {
    background-color: blue;
    height: 55px;
}
ul.menu li {
    display: inline;
    background-color: blue;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 6px;
    color: #fff;
}
.banner {
    background-color: #7294ea;
    padding: 26px;
}
.text-center {
    text-align: center;
}
button.home-btn.text-center {
    display: block;
    margin: auto;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}
.projects-items {
    border: 1px solid grey;
    width: 45%;
    height: 20%;
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: blue;

}
.clear {
    clear: both;
}
.home-circle {
    margin-right: 10px;
    float: left;
    width: 41px;
    height: 40px;
    border: 1px solid #030f0b;
    margin-top: 10px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fafafa;
}
.test-moniels-item {
    border: 1px solid grey;
    width: 45%;
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
.footer.clear {
    background: grey;
    height: 140px;
}